@import "tailwindcss";
/*
  ---break---
*/
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}

@theme {
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-brand: var(--brand);

	--color-sidebar: var(--sidebar);
	--color-sidebar-secondary: var(--sidebar-secondary);
	--color-sidebar-accent: var(--sidebar-accent);

	--color-border-secondary: var(--border-secondary);

	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);

	--color-link: var(--link-active);
	--color-link-foreground: var(--link-active-foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-popover: var(--popover);
	--color-popover-separator: var(--popover-separator);
	--color-popover-foreground: var(--popover-foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-badge-frameworks: var(--badge-frameworks);
	--color-badge-libraries: var(--badge-libraries);
	--color-badge-databases: var(--badge-databases);
	--color-badge-authentication: var(--badge-authentication);
	--color-badge-ui: var(--badge-ui);
	--color-badge-devops: var(--badge-devops);
	--color-badge-hosting: var(--badge-hosting);
	--color-badge-testing: var(--badge-testing);
	--color-badge-ai: var(--badge-ai);
	--color-badge-cms: var(--badge-cms);
	--color-badge-cli: var(--badge-cli);
	--color-badge-other: var(--badge-other);

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out forwards;
	--animate-accordion-up: accordion-up 0.2s ease-out forwards;
	--animate-slide-in: slide-in 0.2s ease-out forwards;
	--animate-slide-out: slide-out 0.2s ease-out forwards;

	@keyframes slide-in {
		from {
			transform: translateX(-272px);
		}
		to {
			transform: translateX(0);
		}
	}
	@keyframes slide-out {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-272px);
		}
	}

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}
/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer base {
	:root {
		--brand: hsl(35, 91%, 38%);

		--background: hsl(40, 78%, 97%);
		--foreground: hsl(20, 17%, 24%);

		--primary: hsl(35, 91%, 38%);
		--primary-foreground: hsl(0, 0%, 100%);

		--secondary: hsl(37, 61%, 74%);
		--secondary-foreground: hsl(28, 9%, 32%);

		--accent: hsl(39, 68%, 85%);
		--accent-foreground: hsl(28, 9%, 32%);

		--card: hsl(39, 42%, 95%);
		--card-foreground: hsl(20, 17%, 24%);

		--popover: hsl(39, 42%, 95%);
		--popover-foreground: hsl(20, 17%, 24%);

		--muted: hsl(36, 58%, 90%);
		--muted-foreground: hsl(28, 9%, 47%);

		--border: hsl(45, 50%, 84%);
		--input: hsl(45, 50%, 84%);
		--ring: hsl(35, 91%, 38%);

		--radius: 0.75rem;

		--destructive: hsl(0, 71%, 36%);
		--destructive-foreground: hsl(0, 0%, 100%);

		--chart-1: hsl(35, 91%, 38%);
		--chart-2: hsl(28, 9%, 47%);
		--chart-3: hsl(43, 93%, 33%);
		--chart-4: hsl(28, 9%, 47%);
		--chart-5: hsl(45, 78%, 42%);
	}
	.dark {
		--background: hsl(0 0 0%);
		--foreground: hsl(0 0% 98%);
		--primary: hsl(0 0% 98%);
		--primary-foreground: hsl(0 0% 9%);
		--secondary: hsl(0 0% 12%);
		--secondary-foreground: hsl(0 0% 98%);
		--muted: hsl(0 0% 14.9%);
		--muted-foreground: hsl(0 0% 63.9%);
		--accent: hsl(0 0% 15%);
		--accent-foreground: hsl(0 0% 98%);
		--link-active: hsl(152 56.3% 10%);
		--link-active-foreground: hsl(152 56.3% 56%);
		--warning: hsl(41 78% 20%);
		--warning-foreground: hsl(41 78% 56%);
		--card: hsl(0 0% 8%);
		--card-foreground: hsl(0 0% 98%);
		--popover: hsl(0 0% 12%);
		--popover-separator: hsl(0 0% 18%);
		--popover-foreground: hsl(0 0% 98%);
		--destructive: hsl(0 62.8% 31%);
		--destructive-foreground: hsl(0 0% 98%);
		--border: hsl(0 0% 12.9%);
		--border-secondary: hsl(0 0% 16%);
		--input: hsl(0 0% 14.9%);
		--ring: hsl(0 0% 83%);
		--chart-1: hsl(220 70% 50%);
		--chart-2: hsl(160 60% 45%);
		--chart-3: hsl(30 80% 55%);
		--chart-4: hsl(280 65% 60%);
		--chart-5: hsl(340 75% 55%);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.styled-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: var(--muted);
	scrollbar-gutter: stable;
}

/*
  ---break---
*/

:root {
	--sidebar: hsl(39 45.1% 90%);
	--sidebar-foreground: hsl(21 18.4% 24.5%);
	--sidebar-primary: hsl(26 90.5% 37.1%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(35 91.7% 32.9%);
	--sidebar-accent-foreground: hsl(0 0% 100%);
	--sidebar-border: hsl(43 42.6% 81.6%);
	--sidebar-ring: hsl(26 90.5% 37.1%);
}

/*
  ---break---
*/

.dark {
	--sidebar: hsl(0, 0%, 8%);
	--sidebar-foreground: hsl(240 4.8% 95.9%);
	--sidebar-primary: hsl(26 90.5% 37.1%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsla(35, 91%, 13%, 0.755);
	--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
	--sidebar-border: hsl(43 42.6% 31.6%);
	--sidebar-ring: hsl(26 90.5% 37.1%);
}

/*
  ---break---
*/

@theme inline {
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

/*
  ---break---
*/

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
